* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image:
        url('assets/icons/stardust.png'),
        radial-gradient(circle at top left, #1f2239, transparent 60%),
        radial-gradient(circle at bottom right, #3a1c40, transparent 60%),
        linear-gradient(135deg, #0f1020, #15162b);
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: -10%;
    right: -5%;
    width: 60vw;
    height: 60vw;
    background: radial-gradient(circle, rgba(90, 40, 120, 0.15) 0%, transparent 70%);
    filter: blur(80px);

}

.book-card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 80px 160px 80px 160px;
}