* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image:
        url('assets/icons/stardust.png'),
        radial-gradient(circle at top left, #1f2239, transparent 60%),
        radial-gradient(circle at bottom right, #3a1c40, transparent 60%),
        linear-gradient(135deg, #0f1020, #15162b);
    background-attachment: fixed;
}

.body-content{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}        

.book-card-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    padding: 60px;
}

textarea {
    resize: vertical;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Der Griff beim Hovern */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}