* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image:
    url('assets/icons/stardust.png'),
    radial-gradient(circle at top left, #1f2239, transparent 60%),
    radial-gradient(circle at bottom right, #3a1c40, transparent 60%),
    linear-gradient(135deg, #0f1020, #15162b);
  background-attachment: fixed;
}

.body-content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  flex: 1;
}

.filter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.filter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  gap: 8px;
}

.book-card-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 35px;
  margin: 20px 50px 60px 50px;
}

textarea {
  resize: vertical;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Der Griff beim Hovern */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}