* {
    margin: 0;
    padding: 0;
}

.body-content {
    min-height: 100vh;

    background:
        radial-gradient(circle at top left, #2b2f55, transparent 60%),
        radial-gradient(circle at bottom right, #3a1c40, transparent 60%),
        linear-gradient(135deg, #0f1020, #15162b);

    color: white;
    font-family: "Inter", sans-serif;
}