.book-card {
    height: 400px;
    width: 300px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px); /*für Safari*/
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.book-card:hover {
    box-shadow: 0 0 10px #2b2f55;
}

.cover-img{
    width: 150px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.like-and-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.like-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}

.book-info-section{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.book-info-with-button{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}