.like-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.like-button img {
  width: 20px;
  height: 20px;
  display: block;
  transition: transform 0.2s ease, filter 0.2s ease;
  filter: sepia(1);
}

.like-button:hover img {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 8px #ea8e0e);
}

.like-button:active img {
  transform: scale(1.4);
}