.body-content, footer {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

h3 {
    font-size: 16px;
    font-weight: 400;
}

.info-text {
    font-size: 14px;
    font-weight: 200;
}

.input-group label, .no-comments{
    font-size: 14px;
    font-weight: 100;
}

footer p{
    font-size: 14px;
    font-weight: 100;
}