@media screen and (max-width: 780px) {
    .hauptmenu {
        display: none;
    }

    .book-card {
        width: 260px;
    }

    .book-card-section {
        gap: 20px;
        padding: 16px;
    }

    h2 {
        font-size: 16px;
        font-weight: 300;
    }

    .like-button:hover img {
        transform: none;
        filter: none;
    }
}


@media (max-width: 1024px) {
    .header-inner {
        margin-left: 60px;
        margin-right: 60px;
    }

    .hauptmenu ul a {
        margin-left: 12px;
    }
}

@media (min-width: 780px) {}